
.steperContainer{
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
}

#plain{
    width: 100%;
    
}
#masque{
    width: 0;
    height: 0;
}
.steperBox{
    overflow: hidden;
}
.rowbottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}